.vscode
image001.png
image003.png
image006.png
image007.png
image008.png
image009.png
OCR Program.pptx
boxes.jpg
bw_image.jpg
dilated_image.jpg
eroded_image.jpg
got_borders.jpg
grey.jpg
image.jpg
inverted.jpg
no_borders.jpg
no_noise.jpg
processed_image.jpg
rotated_fixed.jpg
V0.jpg
V90.jpg